pandas
numpy
pillow
tqdm
scikit-learn
pyyaml
python-dotenv
kaggle
streamlit
torch
torchvision
transformers
accelerate
huggingface_hub
faiss-cpu
evaluate
rouge-score
nltk
bert-score
open_clip_torch
sentence-transformers
colpali-engine
pytest
